* {
  border: 1px solid blue;
}

body {
  margin: 0;
  background: #ddd;
}

header {
  margin: 0;
  padding: 3em;
  background: orange;
}

header h1 {
  width: 900px;
  margin: 0 auto;
}

nav {
  background: #333;
  width: 900px;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

nav a {
  color: #fff;
  padding: 0.2em;
  text-decoration: none;
}

nav a:hover {
  background: #966;
}

nav ul {
  margin: 0 auto;
  display: flex;
  list-style: none;
}

nav ul li {
  flex: 1;
}

main {
  width: 900px;
  background: #fff;
  margin: 0 auto;
}

main > div {
  text-align: center;
}

.photo {
  width: 200px;
  margin: 20px;
  animation: 5s rotation;
}

.photo:hover{
  transform: scale(1.1);
}

.photo:nth-of-type(5) {
  position: relative;
  left: 20px;
  top: 20px;
}

.photo:nth-of-type(9) {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  animation: 5s linear infinite rotation;
}

footer {
  width: 900px;
  height: 100px;
  background: #ccc;
  margin: 0 auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}